.index-container{
	width: 95% !important;
	margin: 0 auto;
}

.nav-btn{
	width: 100% !important;
}

.card-image .video-card img{
	width: 100% !important;
	height: 250px !important;
	object-fit: cover;
}

.card-image .music-card img{
	width: 100% !important;
	height: 150px !important;
	object-fit: cover;
}

.music-list-text{

	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: center;
	width: 100%;
	white-space: nowrap;
}

.music-col{
	padding: 0 .25em !important;
	margin-bottom: 30px !important;
}

.audio-title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: 	ellipsis;
}
.audio-artist{
	margin-top: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: 	ellipsis;
	width: 100%;
}

.audio-controls{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 !important;
	text-align: center !important;
}



.player-controls{
	width: 100%;
	height: auto;
	display: inline-block;
}

audio, #pause{
	display: none;
}

#progressbar{
	height: 9px;
    width: 80%;
    float: right;
    background: transparent url(../images/player-progress.png) repeat-x 0 0 scroll;
    border-radius: 4px;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#progress {
	display: none;
    height: 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 1px;
    background: transparent url(../images/player-elapsed.png) repeat-x 0 0 scroll;
}



@media screen and (min-width: 320px){
	#progressbar{
		height: 9px;
	    width: 70%;
	    float: right;
	    background: transparent url(../images/player-progress.png) repeat-x 0 0 scroll;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		margin: 10px 0 0 0;
	}

	.player-controls{
		margin-top: 10px;
	}
}


@media screen and (min-width: 240px) and (max-width: 320px){
	.video-container{
		margin: 0 auto;
		height: 300px;
	}

	video {
	  width: 100%    !important;
	  height: 280px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-details{
		width: 89px;
	}

	.music-list-text{
		font-size: 12px;
	}

	.music-album-art img{
		width: 100% !important;
		height: 100px !important;
	}

	.audio-title{
		font-size: 16px;
	}
	.audio-artist{
		font-size: 10px;
	}
	#elapsed-time{
		font-size: 10px;
	}
	#duration{
		font-size: 10px;
	}
	.audio-controls btn{
		width: 25%;
	}
}
@media screen and (min-width: 321px) and (max-width: 359px){

	.video-container{
		margin: 0 auto;
		height: 300px;
	}

	video {
	  width: 100%    !important;
	  height: 280px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-details{
		width: 119px;
	}
	.music-list-text{
		font-size: 12px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 100px !important;
	}
}
@media screen and (min-width: 360px) and (max-width: 480px){

	.video-container{
		margin: 0 auto;
		height: 300px;
	}

	video {
	  width: 100%    !important;
	  height: 280px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-details{
		width: 114px;
	}
	.music-list-text{
		font-size: 12px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 100px !important;
	}

	.audio-controls .btn{
		width: 20%;
	}
	.audio-title{
		font-size: 16px;
	}
	.audio-artist{
		font-size: 10px;
	}
	#elapsed-time{
		font-size: 10px;
	}
	#duration{
		font-size: 10px;
	}
	#progressbar{
		height: 9px;
	    width: 215px;
	    float: left;
	    background: transparent url(../images/player-progress.png) repeat-x 0 0 scroll;
	    margin: 0 10px 10px 0;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	}
	#progress {
	    height: 6px;
	    border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    margin: 1px;
	    width: 60%;
	    background: transparent url(../images/player-elapsed.png) repeat-x 0 0 scroll;
	}
}
@media screen and (min-width:375px){
	#elapsed-time{
		margin-top: 13px;
	}
	#duration{
		margin-top: 13px;
	}
}
@media screen and (min-width:414px){
	#elapsed-time{
		margin-top: 19px;
	}
	#duration{
		margin-top: 19px;
	}
}
@media screen and (min-width:480px){
	.audio-artist{
		font-size: 16px;
	}
	#elapsed-time{
		font-size: 12px;
		margin-top: 30px;
	}
	#duration{
		font-size: 12px;
		margin-top: 30px;
	}
}
@media screen and (min-width: 500px) and (max-width: 960px){
	.video-container{
		margin: 0 auto;
		height: 400px;
	}

	video {
	  width: 100%    !important;
	  height: 400px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-text{
		font-size: 12px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 200px !important;
	}

	.audio-title{
		font-size: 26px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 95px;
	}
	#duration{
		font-size: 15px;
		margin-top: 95px;
	}

}
@media screen and (min-width: 600px){
	.audio-title{
		font-size: 26px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 40px;
	}
	#duration{
		font-size: 15px;
		margin-top: 40px;
	}
}
@media screen and (min-width: 768px){
	.audio-title{
		font-size: 26px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 40px;
	}
	#duration{
		font-size: 15px;
		margin-top: 40px;
	}
}
@media screen and (min-width: 800px){

	.video-container{
		margin: 0 auto;
		height: 400px;
	}

	video {
	  width: 100%    !important;
	  height: 400px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}
	
	.audio-title{
		font-size: 26px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 95px;
	}
	#duration{
		font-size: 15px;
		margin-top: 95px;
	}

}
@media screen and (min-width: 960px){
	.audio-title{
		font-size: 26px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 150px;
	}
	#duration{
		font-size: 15px;
		margin-top: 150px;
	}

}
@media screen and (min-width: 970px) and (max-width: 1024px){
	.video-container{
		margin: 0 auto;
		height: 550px;
	}

	video {
	  width: 100%    !important;
	  height: 500px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-text{
		font-size: 22px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 300px !important;
	}

	.audio-title{
		font-size: 32px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 165px;
	}
	#duration{
		font-size: 15px;
		margin-top: 165px;
	}
}
@media screen and (min-width: 1030px) and (max-width: 1366px){
	.video-container{
		margin: 0 auto;
		height: 650px;
	}

	video {
	  width: 100%    !important;
	  height: 550px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-text{
		font-size: 20px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 300px !important;
	}

	.audio-title{
		font-size: 36px;
	}
	.audio-artist{
		font-size: 20px;	
	}
	#elapsed-time{
		font-size: 15px;
		margin-top: 260px;
	}
	#duration{
		font-size: 15px;
		margin-top: 260px;
	}

}
@media screen and (min-width: 1370px) and (max-width: 1920px){
	.video-container{
		margin: 0 auto;
		height: 550px;
	}

	video {
	  width: 100%    !important;
	  height: 650px   !important;
	  object-fit: cover !important;
	  margin-top: 15px !important;
	}

	.music-list-text{
		font-size: 20px;
	}
	.music-album-art img{
		width: 100% !important;
		height: 400px !important;
	}
}

#ad-banner{
  width: 100%    !important;
  height: 150px   !important;
  margin-bottom: 10px !important;
  object-fit: fill;
}
